QWidget#FormManageActionButton QPushButton {
    border: 1px solid #000;
    background-color: #aaa;
    width: 100%;
    max-width: 80%;
}

QTableWidget::item {
    padding: 10px;
}

/* QHeaderView::section {
    margin: 0px 50px;
} */