
* {
    font-family: Calibri;
    font-size: 13pt;
}

QTableWidget::item {
    border-right: 1px solid #D3D3D3;
}
QTableWidget QHeaderView::section {
    padding: 0px 10px;
}

QPushButton {
    text-transform: uppercase;
}

QLabel#tableItem {
    text-align: right;
    padding: 0px 10px;
}